.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
}

header {
    height: 50px;
    background-image: linear-gradient(#cfd9df, #e2ebf0);
    font-size: 1.5em;
    text-transform: capitalize;
    padding: 20px;
    text-align: center;
    line-height: 2em;
}

.App-link {
    color: #09d3ac;
}

.catrancher-container {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.cats-view {
    flex: 1
}

.clowder-view {
    flex: 1
}

img, td {
    width: 90px;
    height: 90px;
}

img.selected {
    background-color: lightgray;
}

table {
    border-color: azure;
}
